@use 'variables';
@use 'mixins';

.suggestions-list__content-wrapper {
  border: 1px solid variables.$border;
  background-color: variables.$background;
  border-radius: variables.$medium;
  padding: 0.5rem 0;

  @include mixins.mobile {
    border: none;
  }
}

.suggestions-list__suggestion {
  padding: 0.5rem 1rem;
}
