@use 'variables';

.suggestion {
  display: flex;
  padding: 0.5rem 1rem;
}

.suggestion__user-information {
  flex-grow: 1;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  white-space: nowrap;
  overflow: hidden;

  * {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.suggestion__username {
  font-weight: variables.$bold;
  color: variables.$text-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.suggestion__full-name {
  color: variables.$text-secondary;
  font-size: 85%;
}

.suggestion__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
