@use 'variables';
@use 'mixins';

.authentication-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

.authentication-form__box {
  background: variables.$background;
  border: 1px solid variables.$border;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
  margin: 0.25rem 0;
  font-size: 100%;

  @include mixins.mobile {
    border: none;
  }
}

.authentication-form__logo {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;

  &--margin-bottom {
    @extend .authentication-form__logo;
    margin-bottom: 1.5rem;
  }
}

.authentication-form__content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 3rem;

  input {
    margin: 0.25rem 0;
  }
}

.authentication-form__sub-title {
  text-align: center;
  font-weight: variables.$bold;
  font-size: 120%;
  color: variables.$text-secondary;
  margin-bottom: 1rem;
}

.authentication-form__submit-button {
  width: 100%;
  padding: 0.5rem 0;
  display: grid;
}

.authentication-form__errors {
  padding: 1rem 0;
}

.authentication-form__redirect-text {
  padding: 1rem;
}

.authentication-form__redirect-link {
  color: variables.$primary;
  text-decoration: none;
  font-weight: variables.$bold;
}
