@use 'variables';
@use 'mixins';

.normal-page-layout {
  display: flex;
  justify-content: center;
}

.normal-page-layout__content-wrapper {
  width: 100%;
  max-width: variables.$tablet;
  padding: 2rem 1.5rem;

  @include mixins.mobile {
    padding: 0;
  }
}
