@use 'variables';
@use 'mixins';

.index-page__feed {
  margin-right: 2rem;
  width: 600px;
  max-width: 100%;
  flex-grow: 1;

  @include mixins.tablet {
    width: 100%;
    max-width: 600px;
    margin-right: 0;
  }
}

.index-page__right {
  width: 300px;
  position: sticky;
  top: 6rem;

  @include mixins.tablet {
    display: none;
  }
}

.index-page__my-profile-preview {
  padding: 1.5rem 0;
}
