@use 'variables';

.button {
  background-color: variables.$primary;
  border: none;
  border-radius: variables.$large;
  padding: 0.5rem;
  font-weight: variables.$bold;
  color: variables.$text-on-primary;
  cursor: pointer;

  &:active {
    background-color: lighten(variables.$primary, 15%);
  }
}

.button__spinner {
  height: 1em;
}
