@use 'variables';
@use 'mixins';

.header__page-padding {
  height: 4rem;
}

.header {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$background;
  border-bottom: 1px solid variables.$border;
  position: fixed;
  width: 100%;
}

.header__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: variables.$tablet;
  width: 100%;
  padding: 0 1.5rem;

  @include mixins.mobile-small {
    padding: 0 1rem;
  }
}

.header__logo {
  padding-top: 7px;
  max-width: 100px;
}

.header__links {
  display: flex;
  align-items: center;
}
