@use 'variables';
@use 'mixins';

.slim-page-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slim-page-layout__content-wrapper {
  padding: 1rem 0;
  margin: 0 1rem;
  max-width: variables.$mobile;
  width: 100%;

  @include mixins.mobile {
    margin: 0;
    padding: 1rem 0 0 0;
  }
}
