$background: white;

$primary: #0095f6;
$secondary: #fafafa;

$error: #ed4956;

$text-on-primary: white;

$text-primary: black;
$text-secondary: #8e8e8e;

$border: rgb(219, 219, 219);
$border-focus: rgb(170, 170, 170);
$border-light: rgb(239, 239, 239);
